* {
    padding: 0;
    margin: 0;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 170px;
    background-color: #FFFFFF;
}

nav {
    width: 100%;
    height: 50px;
    border-top : 1px solid #c4c2c2;
    border-bottom: 1px solid #c4c2c2;
}

section {
    float: left;
    width: 100%;
    height: 750px;
    background-color: #f8f9fa;
    /* background-image: url('https://i.pinimg.com/236x/22/18/37/22183786744b98b92080db78180a5f6d.jpg'); */
}

footer {
    clear: both;
    width: 100%;
    height: 120px;
    background-color:#f1f1f1 ;
    border-top: 1px solid #c4c2c2;

}

/* 화면 너비 0 ~ 1200px */
@media (max-width: 1220px) {
    #wrap {
        width: 95%;
    }
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
    #wrap {
        width: 100%;
    }
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px) {
    #wrap {
        width: 100%;
    }

    header {
        height: 100px;
    }

    nav {
        height: 100px;
    }

    section {
        float: none;
        width: 100%;
        height: 600px;
    }
}

/* 폰트 */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 헤드 */
.login {
    text-align: right;
    font-family: 'GongGothicMedium';
    font-size: 20px;
    color: #39c0c0;
}
.login a {
    color: #39c0c0;
}

.login a:hover {
    text-direction: none !important;
    color: #39c0c0;
}

.logo {
    width: 300px;
    height: 150px;
    margin-top: 50px;
}

header a {
    font-size: 17px;
    color: #39c0c0;
}
/* 네비바 */
nav {
    font-family: 'GongGothicMedium';
    
}

/* 푸터 */
.footer {
    text-align: center;
    padding-top: 20px;
    /* background-color: #f8f9fa; */
}

.footer li {
    position: relative;
    display: inline;
    padding: 0 7px 10px;
    white-space: nowrap;
    font-size: 13px;
}

.footer li:before {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #ababab;
    position: absolute;
    left: 0;
    top: 2px;
}

.footer li:first-child:before {
    width: 0;
}

.footer address {
    padding-top: 15px;
}

a {
    color : rgb(66, 66, 66);
    text-decoration-line : none;
}

a:hover {
    color: black;
    text-decoration: underline;
}
