/* 폰트 */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    overflow: auto;
    font-family: 'GongGothicMedium';
    background-color: #f8f9fa;
}
/*section 안의 스크롤바 숨기기*/
section::-webkit-scrollbar {
    display: none;
}

h2 {
    background: linear-gradient(to top, #39c0c0 30%, transparent 30%);
    width: 220px;
    margin-top: 50px;
}

section span {
    background: linear-gradient(to top, #39c0c0 30%, transparent 30%);
}

#btnAdd {
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #c4c2c2;
}

#tblDelivery {
    width: 1000px;
}
#tblDelivery tr {
    border-bottom: 2px solid #c4c2c2;
    height: 60px;
    font-size: 20px;
}

#tblDelivery input {
    border-radius: 5px;
    border: 1px solid #c4c2c2;
    width: 70px;
}
