/* 폰트 */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    font-family: 'GongGothicMedium';
    background-color: #f8f9fa;
}

h2 {
    background: linear-gradient(to top, #39c0c0 30%, transparent 30%);
    width: 270px;
    margin-top: 100px;
}

section table {
    font-size: 15px;
}