* {
    font-family: 'GongGothicMedium';
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    overflow: auto;
    font-family: 'GongGothicMedium';
    background-color: #f8f9fa;
}
/*section 안의 스크롤바 숨기기*/
section::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
    margin: auto;
    border-bottom: 1px solid #c4c2c2;
}

td {
    width: 30%;
}

table input {
    background-color: #f8f9fa;

}

input {
    /*border:none;*/
    border-radius: 3px;
}

.tab {
    margin-left: 50px;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    background-color: #f1f1f1;
    color: #999;
    font-size: 15px;
    cursor: pointer;
    font-family: 'GongGothicMedium';
    border-radius: 3px;
    width: 100px;
    height: 30px;
}

input[type="radio"]:checked+label {
    background: linear-gradient(to top, #39c0c0 40%, transparent 30%);
    background-color: #f1f1f1 ;
    color: #000;
}

.conbox {
    width: 750px;
    height: 470px;
    display: none;
    border-radius: 15px;
    background-color: #f1f1f1;
    margin: auto;
    margin-top: 20px;
}

.con2{
    width: 750px;
    height: 170px;
    display: none;
    border-radius: 15px;
    background-color: #f1f1f1;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conbox input {
    background-color: #f1f1f1;
}

input[id="tab01"]:checked~.con1 {
    display: block;
}

input[id="tab02"]:checked~.con2 {
    display: block;
}

/*  */
input[type="text"] {
    border: none;
}

input[type="date"] {
    border: none;
}

.conbox p {
    border-bottom: 2px solid #c4c2c2;
    width: 300px;
}

.time {
    margin-bottom: 10px;
}

.time input[type="radio"]+label {
    display: inline-block;
    background-color: #f1f1f1;
    color: #999;
    font-size: 15px;
    cursor: pointer;
    font-family: 'GongGothicMedium';
    /* border-radius: 3px; */
    width: 80px;
    height: 30px;
}

.time input[type="radio"]:checked+label {
    color: #000;
    font-size: 20px;
    background: none;
}

#order{
    /* border-radius: 5px;
    border: 2px solid #c4c2c2; */
    font-size: 20px;
    border: none;
    background: linear-gradient(to top, #39c0c0 40%, transparent 30%);
    width: 150px;
}

#btnchoice{
    display: none;
}
/*input[type="button"] {*/
/*    !* border-radius: 5px;*/
/*    border: 2px solid #c4c2c2; *!*/
/*    font-size: 20px;*/
/*    border: none;*/
/*    background: linear-gradient(to top, #39c0c0 40%, transparent 30%);*/
/*    width: 150px;*/
/*}*/

#b input {
    margin-top: 7px;
    margin-right: 5px;
    width: 15%;
}

#b textarea{
    background-color: #f1f1f1;
    border: none;
    margin-left: 10px;
    resize: none;
}

p input {
    margin-left: 20px;
}

#choice1, #choice2{ /*찜버튼*/
    cursor: pointer;
}
#zlogo{ /*찜버튼*/
    color: red;
    background: none;
}

.mySt{
    display: inline-block;
    border: 0;
    direction: rtl;
}

.mySt input[type=checkbox]{
    display: none;
}
.mySt label{
    font-size: 1.0em;
    color: transparent;
    text-shadow: 0 0 0 #FBF5BF;
}
.mySt input[type=checkbox]:checked ~ label{
    text-shadow: 0 0 0 #FCC500;
}