@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    font-family: 'GongGothicMedium';
}

h4{
    font-size: 30px;
    width: 400px;
    background: linear-gradient(to top, #39c0c0 30%, transparent 30%);
    margin-top: 100px;
}

.sign {
    width: 150px;
    height: 30px;
    font-size: 20px;
}

.sign a {
    color: black;
}
.sign a:hover {
    color: #39c0c0;
    text-decoration:none
}

#tblone input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #c4c2c2;
}

.login_button {
    width: 380px;
    height: 50px;
    color: black;
    border-radius: 5px;
    border: 2px solid #c4c2c2;
}