/* 섹션 */
/* 섹션 폰트 */

p:hover {
    cursor: pointer;
}
.todaymenu {
    color: #000000;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: GongGothicMedium;
    background: linear-gradient(to top, #39c0c0 30%, transparent 30%);
    font-size: 25px;
}

/* 슬라이더,회원가입 */
.parent {
    width: 100%;
    margin: 10px auto;
}

.slider-div {
    width: 70%;
    /* background-color: #39c0c0;  */
    margin-left: 10px;
    padding: 20px 20px;
    float: left;
}

.item {
    width: 80%;
    height: 100px;
    border-radius: 10px;
}

.login2 {
    font-family: 'GongGothicMedium';
    font-size: 13px;
    color: gray;
    border-collapse: separate;
    border-radius: 5px;
    width: 20%;
    height: 150px;
    float: left;
    margin-left: 5%;
}

.login3 {
    font-family: 'GongGothicMedium';
    font-size: 15px;
    color: black;
    border-collapse: separate;
    border-radius: 5px;
    width: 20%;
    height: 150px;
    float: left;
    margin-left: 5%;
}

.login4 {
    font-family: 'GongGothicMedium';
    font-size: 15px;
    color: black;
    border-collapse: separate;
    border-radius: 5px;
    width: 20%;
    height: 150px;
    float: left;
    margin-left: 5%;
}

.addressbutton {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    border: 2px solid #ababab;
    background-color: #f8f9fa;
    font-size: 13px;
}

/* 메뉴 카테고리 */
.Kategorie {
    float: left;
    width: 100%;
}

.mainmenu {
    margin-top: 20px;
    font-family: 'GongGothicMedium';
    width: 30%;
    margin-left: 20px;
    text-align: left;
    color: #333333;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    float: left;
    /* background-color: #39c0c0;  */
}
.mainmenu td:hover {
    color: #39c0c0;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.mainmenu img {
    width: 50px;
    height: 50px;
}

table {
    width: 100%;
}

th,
td {
    text-align: center;
}

.three {
    float: left;
    text-align: left;
    width: 33%;
    margin-top: 70px;
    float:left;
}

/* 탭메뉴 */
.tab {
    float: left;
    width: 30%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    background: white;
    color: #999;
    font-size: 18px;
    cursor: pointer;
    font-family: 'GongGothicMedium';
    border-radius: 3px;
    width: auto;
    height: 20px;

}

input[type="radio"]:checked+label {
    background: white;
    color: #000;
}

.conbox {
    width: 100%;
    height: 240px;
    background: white;
    border: solid 2px #c4c2c2;
    display: none;
    border-radius: 8px;
    margin-left: 15px;
    margin-top: 10px;
}

input[id="tab01"]:checked~.con1 {
    display: block;
}

input[id="tab02"]:checked~.con2 {
    display: block;
}

input[id="tab03"]:checked~.con3 {
    display: block;
}

/*1개 슬라이더*/
.slidershape {
    width: 30%;
    height: 260px;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    background-color: skyblue;
    border-radius: 5px;
}

.mySlideDiv {
    position: relative;
    width: 100%;
    height: 260px;
    background-size: cover;
    border-radius: 5px;
}
.img-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    border-radius: 5px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: GongGothicMedium;
    font-size: 20px;
}

/* 푸터 */
.footer {
    text-align: center;
    padding-top: 20px;
    /* background-color: #f8f9fa; */
}

.footer li {
    position: relative;
    display: inline;
    padding: 0 7px 10px;
    white-space: nowrap;
    font-size: 13px;
}

.footer li:before {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #ababab;
    position: absolute;
    left: 0;
    top: 2px;
}

.footer li:first-child:before {
    width: 0;
}

.footer address {
    padding-top: 15px;
}

a {
    color : rgb(66, 66, 66);
    text-decoration-line : none;
}

a:hover {
    color: black;
    text-decoration: underline;
}
#boardList,#QnAList{
    padding: 10px;
}
#boardList li,#QnAList li{
    list-style: none;
    margin-bottom: 3px;
}
#smTitle{
    width        : 100px;     /* 너비는 변경될수 있습니다. */
    text-overflow: ellipsis;  /* 위에 설정한 100px 보다 길면 말줄임표처럼 표시합니다. */
    white-space  : nowrap;    /* 줄바꿈을 하지 않습니다. */
    overflow     : hidden;    /* 내용이 길면 감춤니다 */
}


