@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
section {
    font-family: 'GongGothicMedium';
    background-color: #f8f9fa;
}

.store-box{
    margin-left: 30%;
    width: 600px;
    display: flex;
}

.store-box input[type="text"], input[type="number"]{
    border: none;
    outline: none;
    height: 30px;
    font-size: 16px;
}
.name-box h3 {
    background: linear-gradient(to top, #39c0c0 30%, transparent 30%);
    width: 180px;
    margin-top: 50px;
}
.span{
    display: inline-block;
    width: 150px;
    height: 20px;
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {/*number 화살표 모양 없애기*/
    -webkit-appearance: none;
    margin: 0;
}
#address{
    width:420px;
}

/*버튼 모양 디자인 시작*/
#btnAddress{ /*우편번호 찾기*/
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #c4c2c2;
}
.submit-box{
    text-align: center;
}
.submit-box input{ /*등록하기*/
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #c4c2c2;
}
/*버튼 모양 디자인 끝*/

#hidlogo{
    text-decoration: none;
    width: 230px;
}
#s_img{
    text-decoration: none;
    width: 230px;
}

#hidlogo{
    width: 300px;
    color:#707070;
}