* {
    font-family: 'GongGothicMedium';
}

/* 폰트 */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    overflow: auto;
    font-family: 'GongGothicMedium';
    background-color: #f8f9fa;

}
/*section 안의 스크롤바 숨기기*/
section::-webkit-scrollbar {
    display: none;
}

span {
    background: linear-gradient(to top, #39c0c0 40%, transparent 30%);
}

.s_name {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.s_box {
    width: 550px;
    height: 170px;
    border-radius: 15px;
    background-color: #f1f1f1 ;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid #c4c2c2;
    float: left;
    cursor:pointer;
}

.s_list input{
    background-color: #f1f1f1 ;
    border: none;
    cursor:pointer;
} 

.sImg {
    width: 150px;
    height: 130px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
}

.mySt{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
    direction: rtl; /* 이모지 순서 반전 */
}
/* 체크박스 감춤 */
.mySt input[type=checkbox]{
    display: none;
}
.mySt label{
    font-size: 1.0em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #FBF5BF; /* 새 이모지 색상 부여 */
}
.mySt input[type=checkbox]:checked ~ label{
    text-shadow: 0 0 0 #FCC500; /* 마우스 클릭 체크 */
}