@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
section {
    font-family: 'GongGothicMedium';
    background-color: #f8f9fa;
}

.store-box{
    margin: 50px 100px 0 100px;
    width: 500px;
}

#store-box input[type="text"]{
    border: none;
    outline: none;
    height: 30px;
    font-size: 16px;
}
