/* 폰트 */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    font-family: 'GongGothicMedium';
    background-color: #f8f9fa;
}

h2 {
    background: linear-gradient(to top, #39c0c0 30%, transparent 30%);
    width: 220px;
    margin-top: 50px;
}

section table {
    font-size: 18px;
    width: 600px;
}

section table tr {
    border-bottom: 1px solid #c4c2c2;
    height: 60px;
}

section input {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #c4c2c2;
}

/*로고등록부분*/
#sfile, #storeimg{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #c4c2c2;
}

#spanReturn{/*돌아가기 버튼 위치*/
    display: inline-block;
    width: 600px;
    align: center;
}
#btnReturn{/*돌아가기 버튼 위치*/
    float: right;
    cursor: pointer;
    background: linear-gradient(to top, #39c0c0 30%, transparent 30%);
    width: 100px;
    margin-top: 20px;
}

#sfile{
    width: 250px;
}