@charset "EUC-KR";
* {
    font-family: 'GongGothicMedium';
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    overflow: auto;
    font-family: 'GongGothicMedium';
    background-color: #f8f9fa;
}
/*section ¾??? ½º?©·?¹? ¼û±â±â*/
section::-webkit-scrollbar {
    display: none;
}

.tab {
    margin-left: 50px;
    text-align: center;
}
#space1{
    display: inline-block;
    width: 270px;
    height: 10px;
}

#space2{
    display: inline-block;
    width: 200px;
    height: 10px;
}

#total{
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #f8f9fa;
    width: 40px;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    background-color: #f1f1f1;
    color: #999;
    font-size: 15px;
    cursor: pointer;
    font-family: 'GongGothicMedium';
    border-radius: 3px;
    width: 100px;
    height: 30px;
}

input[type="radio"]:checked+label {
    background: linear-gradient(to top, #39c0c0 40%, transparent 30%);
    background-color: #f1f1f1 ;
    color: #000;
}

.conbox{
    width: 700px;
    height: 150px;
    display: none;
    border-radius: 15px;
    background-color: #f1f1f1;
    /* margin-left: 20px; */
    /* margin-top: 20px; */
    /*margin: auto;*/
    border: 2px solid #c4c2c2;
    margin: 20px auto;
}

.conbox input {
    background-color: #f1f1f1;
}

input[id="tab01"]:checked~.con1 {
    display: block;
}

.zzim-storelogo{
    display: block;
    float: left;
    width: 180px;
    height: 150px;
}

.zzim-storelogo p img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin: 15px 30px 15px 30px;
}
.zzimlist-box{
    display: block;
    width: 400px;
    height: 150px;
    float: left;
    padding: 15px 0 15px 0;
}
.zzimlist-box span{
    display: inline-block;
    width: 400px;
    height: 30px;
    text-align: left;
}

#menutext{
    text-decoration: none;
    border: none;
    outline: none;
    color: #707070;
    background-color: #f8f9fa;
    width: 300px;
}


