<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.delivery.mappers.iBoard">
<select id="searchBDTitle" resultType="int">
	select count(*) cnt from board where b_type = 1 and title like '%'||#{param1}||'%'
</select>
<select id="selBDTitle" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	  select a.*,rownum as num from (
		select * from board where b_type=1 and title like '%'||#{param1}||'%' order by b_date desc
	) a order by num) b
	where b.num between #{param2} and #{param3} order by b.num
</select>
<select id="selBDTitle2" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	  select a.*,rownum as num from (
		select * from board where b_type=1 and title like '%'||#{param1}||'%' order by b_date
		) a order by num) b
	where b.num between #{param2} and #{param3} order by b.num
</select>
<select id="selBDTitleView" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	  select a.*,rownum as num from (
		select * from board where b_type=1 and title like '%'||#{param1}||'%' order by views desc
		) a order by num) b
	where b.num between #{param2} and #{param3} order by b.num
</select>
<select id="selBDTitleView2" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	  select a.*,rownum as num from (
		select * from board where b_type=1 and title like '%'||#{param1}||'%' order by views
		) a order by num) b
	where b.num between #{param2} and #{param3} order by b.num
</select>
<select id="showBrd" resultType="com.team.delivery.DTO.boardDTO">
	select b_seqno,title,content,writer,b_date,views,b_type from board where b_seqno=#{param1}
</select>
<select id="selPage" resultType="int">
	select count(*) cnt from board where b_type = 1
</select>
<insert id="addBD">
	insert into board values(test_sq.nextval,#{param1},#{param2},#{param3},to_char(current_date,'YYYY-MM-DD HH24:MI:SS'),0,#{param4})
</insert>
<update id="viewUp">
	update board set views = views+1 where b_seqno=#{param1}
</update>
<delete id="delBD">
	delete from board where b_seqno=#{param1}
</delete>
<update id="updateBD">
	update board set title=#{param1},content=#{param2} where b_seqno=#{param3}
</update>
<!-- num을 뽑아내서 전후 게시물의 내용을 뽑아옴 -->
<select id="PNBD" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	select a.*,rownum as num from (
	select board.* from board where b_type=1 order by b_date desc
	) a order by num) b
	where num between (select num from (
	select a.*,rownum as num from (
	select board.* from board where b_type=1 order by b_date desc
	) a order by num) b
	where b_seqno=#{param1})-1 and (select num from (
	select a.*,rownum as num from (
	select board.* from board where b_type=1 order by b_date desc
	) a order by num) b
	where b_seqno=#{param1})+1 order by b.num
</select>
<select id="PNBD2" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	select a.*,rownum as num from (
	select board.* from board where b_type>1 order by b_type desc,b_date desc
	) a order by num) b
	where num between (select num from (
	select a.*,rownum as num from (
	select board.* from board where b_type>1 order by b_type desc,b_date desc
	) a order by num) b
	where b_seqno=#{param1})-1 and (select num from (
	select a.*,rownum as num from (
	select board.* from board where b_type>1 order by b_type desc,b_date desc
	) a order by num) b
	where b_seqno=#{param1})+1 order by b.num
</select>
<select id="selQnABrd" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	select a.*,rownum as num from (
	select board.* from board where b_type>1 order by b_type desc,b_date desc
	) a order by num) b
	where b.num between #{param1} and #{param2} order by b.num
</select>
<select id="selQnABrd_views" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	select a.*,rownum as num from (
	select board.* from board where b_type>1 order by b_type desc,views desc
	) a order by num) b
	where b.num between #{param1} and #{param2} order by b.num
</select>
<select id="selQnATitle" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	select a.*,rownum as num from (
	select * from board where b_type>1 and title like '%'||#{param1}||'%' order by b_type desc,b_date desc
	) a order by num) b
	where b.num between #{param2} and #{param3} order by b.num
</select>
<select id="selQnATitleView" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	select a.*,rownum as num from (
	select * from board where b_type>1 and title like '%'||#{param1}||'%' order by b_type desc,views desc
	) a order by num) b
	where b.num between #{param2} and #{param3} order by b.num
</select>
<select id="smallQnA" resultType="com.team.delivery.DTO.boardDTO">
	select * from (
	select a.*,rownum as num from (
	select * from board where b_type=2 order by b_date desc
	) a order by num) b
	where b.num between #{param1} and #{param2} order by b.num
</select>
<select id="selQnAPage" resultType="int">
	select count(*) cnt from board where b_type>1
</select>
<select id="searchQnATitle" resultType="int">
	select count(*) cnt from board where b_type>1 and title like '%'||#{param1}||'%'
</select>
</mapper>