<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.delivery.mappers.iBooking">

    <!-- 예약완료 -->
    <select id="bookinglist" resultType="com.team.delivery.DTO.bookingDTO">
        select b.s_seqno, b.s_name, a.h_seqno, a.h_date, a.h_time, a.h_people, a.h_onepeople, a.h_mobile, a.h_request
        from bookinglist a, store b
        where a.s_seqno=b.s_seqno
          and b.s_seqno=#{param1}
    </select>

    <!--  홀예약하기  -->
    <insert id="bookingadd">
        insert into bookinglist values (#{param1},#{param2},#{param3},#{param4},#{param5},
                                        #{param6},#{param7},h_seqno.nextval,#{param8})
    </insert>

    <!--  방금예약한 예약번호 가져오기  -->
    <select id="hseqno" resultType="int">
        select h_seqno.currval from dual
    </select>

    <!--  홀예약완료내역  -->
    <select id="bookingend" resultType="com.team.delivery.DTO.bookingDTO">
        select a.*, b.s_name
        from bookinglist a, store b
        where a.s_seqno =b.s_seqno
        and a.h_seqno=#{param1}
    </select>
    
    <!-- 내 예약목록  -->
    <select id="reservationlist" resultType="com.team.delivery.DTO.bookingDTO">
        select a.*, b.s_name
        from bookinglist a, store b
        where a.s_seqno = b.s_seqno
        and a.m_id=#{param1}
    </select>

    <delete id="delbooking">
        delete from bookinglist
        where h_seqno=#{param1}
    </delete>
</mapper>
