<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.delivery.mappers.iCart">
<!-- <insert id="insert">
	insert into cart values(d_seqno.nextval,#{param1},#{param2})
</insert> -->

<!-- 장바구니 추가 -->
<insert id="addCart" parameterType="com.team.delivery.DTO.cartDTO">
	insert into cart values(cart_seqno.nextval,#{mId},#{sSe},#{mSe},#{menuCnt})
</insert>

<!-- 장바구니 삭제 -->
<delete id="delCart">
	delete from cart where cart_seqno=#{cartSeqno}
</delete>

<!-- 장바구니 수량 수정 -->
<update id="modifyCount">
	update cart set menu_cnt=#{menuCnt} where cart_seqno=#{cartSeqno}
</update>

<!-- 장바구니 목록 -->
<select id="listCart" resultType="com.team.delivery.DTO.cartDTO">
	select a.cart_seqno, a.m_id, a.m_se, a.menu_cnt, b.menu_name, b.menu_price, b.menu_cal 
	from cart a left outer join menu b 
	on a.m_se=b.menu_seqno 
	where m_id=#{mId}
</select>

<!-- 장바구니 확인 -->
<select id="checkCart" parameterType="com.team.delivery.DTO.cartDTO" resultType="com.team.delivery.DTO.cartDTO">
	select * from cart where m_id=#{mId} and m_se=#{mSe}
</select>

<!--  장바구니 확인(같은가게만 주문 가능함)	-->
	<select id="checkStore" parameterType="com.team.delivery.DTO.cartDTO" resultType="int">
		select count(*) cnt from cart where m_id=#{mId} and s_se=#{sSe}
	</select>
</mapper>