<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.delivery.mappers.iMenuStore">

<!-- <select>
<![CDATA[
]]>	
</select> -->

<!-- 메뉴타입 목록 -->
<select id="sType" resultType="com.team.delivery.DTO.stypeVO">
	select s_type, type_name from s_type
</select>

<!-- 가게 등록 -->
<insert id="insertStore">
insert into store values(store_seq.nextval,#{param1},#{param2},#{param3},#{param4},#{param5},
						#{param6},#{param7},#{param8},#{param9},#{param10})
</insert>

<!--가게로고추가하기-->
<update id="updateLogo">
	update store set s_img=#{param1} where s_seqno=#{param2}
</update>

<!--가게 정보 수정하기-->
<update id="modifyStore1">
update store set s_name=#{param2}, s_postcode=#{param3}, s_address=#{param4}, s_detailaddress=#{param5},
				 s_extraaddress=#{param6}, bs_num=#{param7}, s_mobile=#{param8}, s_type=#{param9}, s_img=#{param10}
			 where m_id=#{param1}
</update>
<update id="modifyStore2">
update store set s_name=#{param2}, s_postcode=#{param3}, s_address=#{param4}, s_detailaddress=#{param5},
				 s_extraaddress=#{param6}, bs_num=#{param7}, s_mobile=#{param8}, s_type=#{param9}
			 where m_id=#{param1}
</update>

<!-- 매뉴 등록 -->
<insert id="insertMenu">
	insert into menu values(menu_seq.nextval, #{param1},#{param2},#{param3},#{param4},#{param5},#{param6})
</insert>

<!-- 메뉴리스트 -->
<select id="selectMenuList" resultType="com.team.delivery.DTO.StoreDTO">
	select menu_seqno, s_se, menu_name, menu_price, menu_ex, menu_img, menu_cal from menu where s_se=#{param1} order by menu_seqno
</select>

<!-- 메뉴수정하기 -->
<select id="updateMenuList" resultType="com.team.delivery.DTO.StoreDTO">
	select menu_name, menu_price, menu_ex, menu_img, menu_cal from menu where menu_seqno=#{param1} and s_se=#{param2}
</select>
<update id="modifyMenu">
	update menu set menu_name=#{param1}, menu_price=#{param2}, menu_ex=#{param3}, menu_cal=#{param4} 
				where menu_seqno=#{param5} and s_se=#{param6}
</update>
<update id="modifyImage">
	update menu set menu_img=#{param1} where menu_seqno=#{param2} and s_se=#{param3}
</update>

<!-- 메뉴삭제 -->
<delete id="deleteMenu">
	delete from menu where menu_seqno=#{param1} and s_se=#{param2}
</delete>

<!-- 가게 존재여부 -->
<select id="cntStore" resultType="int">
   select count(*) from store where m_id = #{param1}
</select>
<select id="selStore" resultType="com.team.delivery.DTO.StoreDTO">
   select * from store a, s_type b where a.s_type=b.s_type and m_id = #{param1}
</select>

<select id="selRandStore" resultType="com.team.delivery.DTO.StoreDTO">
	select * from( select * from store order by DBMS_RANDOM.RANDOM) where s_img is not null and rownum <![CDATA[ < ]]> 7
</select>

</mapper>