<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.delivery.mappers.iOrder">
<!--주문 넣기-->
<insert id="orderinsert">

</insert>
<!--주문현황 리스트-->
<select id="orderbefore" resultType="com.team.delivery.DTO.orderDTO">
    select a.* ,b.m_name, b.m_mobile
        from orderend a, member b
        where a.m_id=b.m_id
        and a.s_se=#{param1} order by a.o_seqno
</select>
<!--주문 받기-->
<update id="orderget">
    update orderend set o_status=#{param1} where o_seqno=#{param2}
</update>
<!--주문완료 리스트-->
<select id="orderafter" resultType="com.team.delivery.DTO.orderDTO">
    select a.* ,b.m_name, b.m_mobile
        from orderend a, member b
        where a.m_id=b.m_id
        and a.s_se=#{param1} order by a.o_seqno
</select>
<!--주문취소 리스트-->
<select id="ordercancle" resultType="com.team.delivery.DTO.orderDTO">

</select>
</mapper>