<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.delivery.mappers.iStore">
<!--  가게이름 불러오기	-->
	<select id="storeName" resultType="com.team.delivery.DTO.StoreDTO">
		select * from store where s_seqno=#{param1}
	</select>

<!--  가게평균점수 구하기	-->
	<select id="storeAvg" resultType="double">
		select avg(b.score )
		from store a, review b
		where b.s_seqno=#{sSeqno}
		  and a.s_seqno=b.s_seqno
	</select>

<!--  가게리뷰개수 구하기	-->
	<select id="reviewCnt" resultType="int">
		select count(a.score )
		from review a, store b
		where a.s_seqno=#{sSeqno}
		  and a.s_seqno=b.s_seqno
	</select>

<!-- 가게리스트 -->
<select id="liststore" resultType="com.team.delivery.DTO.StoreDTO">
	select *
	from store a, (select s_seqno, avg(score) as avg
				   from review
				   group by s_seqno) b
	where s_type=#{sType}
	  and a.s_seqno =b.s_seqno(+)
</select>

<!-- 가게의 메뉴리스트 -->
<select id="menutable" resultType="com.team.delivery.DTO.StoreDTO">
	select a.menu_seqno, a.s_se, b.s_name, a.menu_name, a.menu_price, a.menu_ex, a.menu_img, a.menu_cal
	from menu a, store b
	where b.s_seqno=#{param1}
	and a.s_se = b.s_seqno
</select>

<!-- 가게검색 -->
<select id="searchtable" resultType="com.team.delivery.DTO.StoreDTO" parameterType="String">
	select *
	from store
	where s_name like '%'||#{param1}||'%'
</select>
	
<!-- 가게리뷰리스트 -->
<select id="reviewlist"  resultType="com.team.delivery.DTO.reviewDTO">
	select b.s_name, a.m_id, a. r_content, a.r_date, a.score
	from review a,  store b
	where b.s_seqno=#{param1}
	and a.s_seqno = b.s_seqno
	order by a.r_seqno desc
</select>

<!-- 메뉴 상세페이지 -->
<select id="listMenuDetail" resultType="com.team.delivery.DTO.StoreDTO">
	select * from menu where menu_seqno=#{param1} and s_se=#{param2}
</select>

<!--  가게리뷰작성	-->
<insert id="reviewAdd" parameterType="com.team.delivery.DTO.reviewDTO">
	insert into review values(r_seqno.nextval,#{oSe},#{mId},#{rContent},to_char(current_date,'YYYY-MM-DD HH24:MI:SS'),#{score},#{sSe})
</insert>

<!-- 내가 작성한 가게리뷰리스트 -->
<select id="myReviewList"  resultType="com.team.delivery.DTO.reviewDTO">
	select b.s_name, a.r_content, a.r_date, a.score, a.r_seqno
	from review a,  store b
	where a.m_id=#{mId}
	  and a.s_seqno = b.s_seqno
	order by a.r_date desc
</select>

<!--  가게리뷰삭제	-->
<delete id="reviewDel">
	delete from review where r_seqno=#{rSeqno}
</delete>

<!--찜 버튼 체크-->
<insert id="zzimcheck">
	insert into zzim values(#{param1},#{param2})
</insert>
<!--찜 버튼 체크 해제-->
<delete id="zzimdelete">
	delete from zzim where m_id=#{param1} and s_se=#{param2}
</delete>
<!--찜목록 id당 가게 찜 여부-->
<select id="zzimStorecount" resultType="int">
	select count(*) cnt from zzim where m_id=#{param1} and s_se=#{param2}
</select>
<!--가게 당 찜 수-->
<select id="zzimcount" resultType="int">
	select count(*) count from zzim where s_se=#{param1}
</select>
<!--찜 목록 불러오기-->
<select id="zzimlist" resultType="com.team.delivery.DTO.StoreDTO">
	select *
	from zzim a, store b
	where a.s_se=b.s_seqno
	and a.m_id=#{param1}
</select>
</mapper>